@(id: String, bookForm: Form[BookForm])

@import helper._

@main("my-bookshelf") {

  @*********************
   * edit book         *
   *********************@
   
    <h1>Edit a book</h1>
    
    @form(routes.Books.update(id)) {
        <fieldset>
            @inputText(bookForm("name"), '_label -> "Book name")
            @inputText(bookForm("isbn"), '_label -> "ISBN")
        </fieldset>
        
        <div>
            <input type="submit" value="Save this book">
        </div>
        
    }
    
}
